.dom { padding: 35px 1rem 2rem; overflow: auto; width: 100%; height: 100%;}
.dom li.hasChildren ul { display: none; }
.dom ul { padding: 0 0 0 1em; margin: 0; }
.dom li { cursor: pointer; padding: 0; margin: 2px 0; list-style: none; position: relative; }
.dom li.isOpen > code[tag]{ font-weight: normal; text-decoration: underline;  }
.dom li.active > code[tag]{ font-weight: bold; }
.dom li.isOpen.hasChildren > ul{ display: block; }
.dom li li { list-style: disc; }
.dom .t1 code { color: purple; font-weight: normal; }
.dom .t2 { font-style: normal; font-family: monospace; }
.dom .t2 .attrName { color: black; font-weight: normal; }
.dom .t2 .attrValue { color: blue; font-weight: normal; }
.dom .t3 code,
.dom .t4 code,
.dom .t5 code { color: gray; }
.dom .t7 code,
.dom .t8 code { color: green; }
.dom span { font-style: italic; font-family: serif; }
.dom .t10 code { color: teal; }
.dom .misparented,
.dom .misparented code { color: red; font-weight: normal; }
.dom .unnamed { color: red; font-style: italic; }
.dom .template { padding: 0 0 0 1.5em; background: #EEEEEE; color: black; position: relative; overflow: hidden; }
.dom .template::after { position: absolute; top: 1em; right: -2.6em; content: 'TEMPLATE'; width: 10em; text-align: center; transform: rotate(30deg); background: black; color: white; }
.dom .hidden { visibility: hidden; margin: 0.5em 0; padding: 0; height: 0; min-height: 0; }
.dom li li { list-style: none; }
.dom li:first-child::before { position: absolute; top: 0; height: 0.7em; left: -0.75em; width: 0.5em; border-style: none none solid solid; content: ''; border-width: 0.01rem; }
.dom > li:first-child::before { top: -12px; height: 19px; }
.dom li:not(:last-child)::after { position: absolute; top: 0; bottom: -0.7em; left: -0.75em; width: 0.5em; border-style: none none solid solid; content: ''; border-width: 0.01rem; }
