.ace_editor.ace_autocomplete{
	z-index: 11111111111;
}

.code-wrap{
	z-index: -1;
	overflow: hidden;
	width: 100%;
	height: calc(100% - 28px);
	min-height: calc(100px - 28px);
	margin-top: 26px;
	border: 0;
	resize: none;
	position: absolute;
	outline: 0;
}

.upload{
	position: absolute;right: 6px;top: -2px;font-size: 18px;cursor: pointer;
}

